.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.section {
    display: flex;
    position: relative;
    width: 95%;
    height: 90vh;
    background-color: white;
    box-shadow: 0 10px 60px 0 hsla(0, 0%, 0%, 0.2);
}

.imgBox {
    position: relative;
    width: 60%;
    object-fit: cover;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    /* height: 100%; */
    object-fit: cover;
}

.contentBox {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    width: 40%;
}

.formBox {
    width: 70%;
}

.formBox label {
    font-size: 0.8rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
}

.header label {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.inputBox {
    font-family: var(--font);
    width: 100%;
    padding: 0.3rem 1rem;
    text-align: start;
    background-color: var(--gray);
    color: black;
    border: 0;
    border-radius: 5;
    display: block;
    box-sizing: border-box;
}

.inputWrapper {
    position: relative;
}

.inputWrapper input {
    padding-right: 40px;
}

.inputWrapper button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 40px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.forgetPass {
    display: flex;
    justify-content: flex-end;
}

.forgetPass button {
    font-size: 0.8rem;
    cursor: pointer;
    opacity: 50%;
}

.forgetPass button:is(:hover, :focus) {
    opacity: 100%;
}

.submit {
    font-family: var(--font);
    width: 100%;
    padding: 0.4rem;
    margin-top: 1rem;
    color: black;
    background-color: var(--orange);
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

.submitLoading,
.submit:is(:hover, :focus) {
    font-family: 'Kanit';
    width: 100%;
    padding: 0.4rem;
    margin-top: 1rem;
    color: black;
    background-color: var(--darkOrange);
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    box-sizing: border-box;
    cursor: pointer;
}

.googleSignIn {
    display: inline-flex;
    font-family: var(--font);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    margin-top: 1rem;
    color: #fff;
    background-color: #4285f4;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
}

.googleSignIn:is(:hover, :focus) {
    transition: background-color 0.3s, color 0.3s;
    background-color: #fff;
    color: #4285f4;
}

.googleLogo {
    position: absolute;
    left: 5px;
}

.register {
    padding: 1rem;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    /* text-decoration: 'underline'; */
    white-space: 'nowrap';
}

.register :is(:hover, :focus, :active) {
    text-decoration: underline;
    color: dodgerblue;
}

@media screen and (max-width: 768px) {
    .container {
        background: url('/bgm.jpg') no-repeat center fixed;
        background-size: cover;
    }

    .section {
        background-color: transparent;
        width: 100%;
        justify-content: center;
        box-shadow: none;
    }

    .imgBox {
        display: hidden;
        width: 0;
    }

    .image {
        display: hidden;
    }

    .contentBox {
        width: 90%;
        margin-top: 2rem;
    }

    .formBox {
        width: 90%;
    }

    .header {
        font-size: 1.25rem;
    }

    .header label {
        font-size: 0.9rem;
    }

    .inputBox {
        background-color: white;
    }

    .googleSignIn {
        padding: 0.5rem 2.5rem;
        font-size: 0.8rem;
    }
}
